.working-form {
    margin: 5rem 0;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: 600;
    font-size: 1em;
}

.checkbox-group {
    margin: 1rem 0;
}

.jotform-submit {
    /* This is jotform submit button css */
    background-color: #4c63af;
    color: #fff;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.jotform-submit:hover {
    background-color: #3858c0;
}

.jotform-submit:active {
    background-color: #3f5086;
}